/*
-----------------------------------------
TABLE OF CONTENTS

(The number set before the description is to help find the section using your programs 'find' function)

V01 - Includes - Incusion of CSS/LESS files
V02 - LESS Variables - This will not showup in your compiled CSS
V03 - Background Highlights
V04 - Head Tags (HTML & BODY)
V05 - Containers
V06 - Headers
V07 - Basics
V08 - Secondary Basics
V09 - Branding
V10 - Navigation
V11 - Main Layout
V12 - Pages
V13 - Footer
V14 - Tables
V15 - Forms
V16 - Generics (for testing)
V17 - Mobile Adjustments
V18 - Media Queries
-----------------------------------------
*/

// V01 - Includes

@import "includes/normalize.less";
@import "includes/mixins.less";


/*
-----------------------------------------
Start the Styling of your Site Here
-----------------------------------------
*/


// V02 - LESS Variables

@base-color: #;
@content-background: #;

@text-color: #;

@link-color: #;
@link-hover-light: lighten(@link-color, 10%);
@link-hover-dark: darken(@link-color, 10%);

/*
-----------------------------------------
V03 - Background Highlights
Try to make the background match the main color of your site and make the color easy to read by contrasting the background. 
Make both sections the same.
-----------------------------------------
*/

::-moz-selection{
  background: ;
  color: ;
} 
::selection {
  background: ;
  color: ;
}



/*
-----------------------------------------
V04 - HEAD TAGS
-----------------------------------------
*/


HTML {
  /* Prevents webpage zooming for mobile devices change orientation */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 16px;
}

BODY {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background: @base-color;
  font-size: 62.5%; /* 1em = 10px */
}



/*
-----------------------------------------
V05 - CONTAINERS
-----------------------------------------
*/


#container {
  width: 960px;
  margin: 0 auto;
}

#content {
  width: 960px;
  background: @content-background;
}




/*
-----------------------------------------
V06 - HEADERS
-----------------------------------------
*/


h1 {
  
}

h2 {
  
}

h3 {
  
}

h4 {
  
}

h5 {
  
}

h6 {
  
}


/*
-----------------------------------------
V07 - BASICS
-----------------------------------------
*/


a {
  color: @link-color;
  &:hover {
    color: @link-hover-light;
    text-decoration: none;
  }
}

p {
	font-size: 12px;
  line-height: 1.4em;
	color: @text-color;
}


/*
-----------------------------------------
V08 - SECONDARY BASICS
-----------------------------------------
*/

blockquote {
  
}

.hr { 
  /* instead of using an hr tag (which is actually more semantic), a div with this class will allow for easier styling */
}

.button {
  background: ;
  &:hover { }
}

.clear {
  clear: both;
}

.clear-fix:before,
.clear-fix:after {
  content: " ";
  display: table;
}

.clear-fix:after {
  clear: both;
}

.clear-fix {
  *zoom: 1;
}


/*
-----------------------------------------
V09 - BRANDING
-----------------------------------------
*/


header#masthead {
  width: 960px;
  height: ;
  position: relative;
  
  #logo a {
    display: block;
    height: ;
    width: ;
    position: absolute;
    top: ;
    left: ;
    text-indent: -9999px;
    background: url('../images/logo.png') no-repeat;
  }
}



/*
-----------------------------------------
V10 - NAVIGATION
Please use the nav element in HTML5
-----------------------------------------
*/


header#masthead ul {
  list-style: none;
  position: absolute;
  top: ;
  left: ;

  li {
    
  }

  li a {
    color: @link-color;
    &:hover { color: @link-hover-light; }
  }
}


/*
-----------------------------------------
V11 - MAIN LAYOUT
-----------------------------------------
*/

.block-content {
  .clearfix();
  margin-bottom: 20px;
}




/*
-----------------------------------------
V12 - PAGES
-----------------------------------------
*/






/*
-----------------------------------------
V13 - FOOTER
-----------------------------------------
*/


footer#siteFooter {
  width: 960px;
  height: ;
}




/*
-----------------------------------------
V14 - TABLES
-----------------------------------------
*/


table {
  
}

thead {
  
}

tfoot {
  
}

tbody {
  
}

tr {
  
}

th {
  
}

td {
  
}

.cell5 {width:5%;}
.cell10 {width:10%;}
.cell15 {width:15%;}
.cell20 {width:20%;}
.cell25 {width:25%;}
.cell30 {width:30%;}
.cell35 {width:35%;}
.cell40 {width:40%;}
.cell45 {width:45%;}
.cell50 {width:50%;}
.cell55 {width:55%;}
.cell60 {width:60%;}
.cell65 {width:65%;}
.cell70 {width:70%;}
.cell75 {width:75%;}
.cell80 {width:80%;}
.cell85 {width:85%;}
.cell90 {width:90%;}
.cell95 {width:95%;}


/*
-----------------------------------------
V15 - FORMS
The idea is to put the form inputs in a ul>li so your submit button doesn't inherit text input styles.
-----------------------------------------
*/


form {
  margin: 10px 0;
  ul li label{ }
  ul li input { }
  ul li textarea { }
  ul li select { }
  ul li option { }
  input.submit { }
}


/*
-----------------------------------------
V16 - GENERICS (used for testing)
-----------------------------------------
*/


.left {
  float: left;
}

.right {
  float: right;
}

.text_left {
  text-align: left;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.red {
  background: red;
}



/*
-----------------------------------------
V17 - MOBILE ADJUSTMENTS
-----------------------------------------
*/

a:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, .2);
}



/*
-----------------------------------------
V18 - Responsive Web Design Queries
-----------------------------------------
*/

@media only screen and (min-width: 1382px) {
  
}

@media only screen and (max-width: 992px) {
  
}

@media only screen and (max-width: 768px) {
  
}

@media only screen and (max-width: 480px) {
  
}