/*
-----------------------------------------
LAYOUT
-----------------------------------------
*/

main {

}

.container {
  padding: 0 20px;
  background: $content-background;
}

.content {
  max-width: $site-width;
  margin: 0 auto;
  position: relative;
}


.block-content {
  margin-bottom: 20px;
}