/*
-----------------------------------------
TYPOGRAPHY
-----------------------------------------
*/


/*  Basics */

a {
  color: $link-color;

  &:hover {
    color: $link-hover-light;
    text-decoration: none;
  }
}

p {
  font-size: 12px;
  line-height: 1.4em;
  color: $text-color;
  margin-bottom: 1.2em;
}

blockquote {

}

hr {

}