/*
-----------------------------------------
FORMS
-----------------------------------------
*/


form {
  margin: 10px 0;
}

label {

}

input {

}

textarea {

}

select {

  option {

  }
}

input[type="submit"] {

}

::-webkit-input-placeholder { color: $placeholder-color; }
::-moz-placeholder { color: $placeholder-color; }
:-ms-input-placeholder { color: $placeholder-color; }
input:-moz-placeholder { color: $placeholder-color; }
