/*
-----------------------------------------
Background Highlights
-----------------------------------------
*/


::-moz-selection{
  background: var(--select-background);
  color: var(--select-text);
}
::selection {
  background: var(--select-background);
  color: var(--select-text);
}



/*
-----------------------------------------
HEAD TAGS
-----------------------------------------
*/


* {
  @include box-sizing();
}

html, body {
  height: 100%;
}

html {
  /* Prevents webpage zooming for mobile devices change orientation */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: var(--font-size);
  font-family: var(--font);
}

body {
  background: var(--base-color);
}



/*
-----------------------------------------
GENERICS
-----------------------------------------
*/

img {
  max-width: 100%;
}

.relative {
  position: relative;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}


/*
-----------------------------------------
MOBILE ADJUSTMENTS
-----------------------------------------
*/


a:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, .2);
}


/*
-----------------------------------------
FORM ADJUSTMENTS
-----------------------------------------
*/

::-webkit-input-placeholder { color: var(--placeholder-color); }
::-moz-placeholder { color: var(--placeholder-color); }
:-ms-input-placeholder { color: var(--placeholder-color); }
input:-moz-placeholder { color: var(--placeholder-color); }


input[type="text"],
input[type="email"],
input[type="tel"],,
input[type="file"],
textarea {
  -webkit-appearance: none;
}

input[type="search"] {
    -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration  {
    -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance:textfield;
}